<div class="post-main">
  <div class="post-header">
    <h4>Post #<%= @post.id %> by <%= @post.author.name%></h4>
    <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  </div>
  <p class="post-text"><%= @post.text %></p>
  <% if can? :destroy, @post %>
  <%= button_to 'Delete Post', delete_post_path(current_user.id, @post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<div class="comments-box">
  <% @post.recent_comments.each do |comment| %>
    <%= render 'shared/comments_card', comment: comment %>
    <% if can? :destroy, comment %>
      <%= button_to 'Delete Comment', delete_comment_path(current_user.id, @post.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<%= form_with(model: @like, url: post_likes_create_path(current_user.id, @post.id), method: :post) do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <%= form.submit 'Like' %>
<% end %>

<%= render 'shared/comments_form', current_user: @current_user, post: @post %>
